<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/CSS/admin.css">
    <link rel="icon" href="/static/img/img-tela-login.jpg" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <main class="dashboard-main">

        <header class="dashboard-header">
            <button class="abrir-menu" aria-label="Abrir menu">
                <i class="fas fa-bars"></i>
            </button>
            <h1>Dashboard</h1>
            <div class="user-avatar">
                <i class="fas fa-user-tie"></i>
            </div>
        </header>

        <section class="welcome-secao">
            <h2>Bem-vindo, Administrador</h2>
            <p>Aqui está o resumo do seu sistema</p>
        </section>

        <section class="stats-section">
            <article class="stat-card">
                <i class="fas fa-user-graduate"></i>
                <div>
                    <h3>248</h3>
                    <p>Total de Alunos</p>
                </div>
            </article>

            <article class="stat-card">
                <i class="fas fa-chalkboard-teacher"></i>
                <div>
                    <h3>7</h3>
                    <p>Professores</p>
                </div>
            </article>

            <article class="stat-card">
                <i class="fas fa-chalkboard-teacher"></i>
                <div>
                    <h3>3</h3>
                    <p>Estúdios</p>
                </div>
            </article>

            <article class="stat-card">
                <i class="fas fa-exclamation-triangle"></i>
                <div>
                    <h3>7</h3>
                    <p>Pagamentos atrasados</p>
                </div>
            </article>
        </section>

        <section class="secao-alerta">
            <h2>Alertas</h2>
            <div class="alert-card">
                <i class="fas fa-exclamation-circle"></i>
                <p><strong>Pagamentos Atrasados:</strong> 7 alunos com pagamento em atraso</p>
            </div>
        </section>

        <section class="actions-section">

            <article class="action-card">
                <i class="fas fa-user"></i>
                <span>Cadastrar aluno</span>
            </article> 

            <article class="action-card">
                <i class="fas fa-calendar-alt"></i>
                <span>Ver agenda</span>
            </article>

            <article class="action-card">
                <i class="fas fa-file-alt"></i>
                <span>Relatórios</span>
            </article>

            <article class="action-card">
                <i class="fas fa-cog"></i>
                <span>Configurações</span>
            </article>
        </section>
    </main>
</body>
</html>